/.svn/entries
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
/.directory
/.gitignore~
/.svn/*
/SDQ_vorlage_beamer.tex~
/SDQ_vorlage_beamer.pdf
/IISM_vorlage_beamer.bcf
/IISM_vorlage_beamer.pdf
/IISM_vorlage_beamer.run.xml

/.gitignore.orig
/IISM_vorlage_beamer.tex.orig
/beamer_pst.kilepr
